---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Map from "../components/Map.astro";
---

<Layout
  title="Contacto | Geoingeniería Ltda"
  description="Póngase en contacto con Geoingeniería Ltda. cotice su proyecto y obtenga atención personalizada."
>
  <div style="padding-bottom: 80px;">
    <Contact />
    <Map />
  </div>
</Layout>

<style>
  html {
    scroll-behavior: auto; /* Evitar scroll raro en páginas individuales al cargar */
  }
</style>
